.HeaderContent {
  padding-left: 50px;
  padding-right: 50px;
  height: 54px;
}

.HeaderLogoFigure {
  width: 12%;
  min-width: 110px;
  max-width: 180px;
}

taro-button-core[plain].HeaderLoginButton {
  @apply tw-flex tw-items-center tw-gap-8px tw-text-base tw-border-0;
}
